<!DOCTYPE html>
<html>
<head>
  <title>About Aashish Lama</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>About Aashish Lama</h1>
  <p>Senior Administrative Officer with 5+ years of experience...</p>
</body>
</html>
