<!DOCTYPE html>
<html>
<head>
  <title>Work - Aashish Lama</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Work Experience</h1>
  <p>Details of professional roles...</p>
</body>
</html>
